<div>
    <div>
        <div class="row" *ngFor="let post of posts | async">
            <div>
                <h3><a href="post/{{post.id}}">{{post.title}}</a></h3>
                <div>
                    Author: <p>{{post.username}}</p>
                </div>
                <div>
                    Last update: {{post.updateOn}}
                </div>
                <div>
                    <a type="button" href="post/{{post.id}}">Read More</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
